# node modules
node_modules
# build path (next line will be removed by build-typescript GitHub action to be included in dist branch)
# dist
# environmental variables
.env
# yarn error log
yarn-error.log
# vscode config
.vscode
.idea
#coverage
coverage
